In [11]:
from rich import print
import logging

logging.basicConfig(level=logging.INFO)

# National Phenology Network (NPN)

Retrieve data from the [National Phenology Network
(NPN)](https://www.usanpn.org/usa-national-phenology-network) using
[rnpn](https://github.com/usa-npn/rnpn).

To install `rnpn` (in an R session):

```R
install.packages("rnpn")
```

## Listing species

Before we can download any data, we need to know which species and phenophases
are available. To this end, we can use the `npn_species` and `npn_phenophases`
functions.

In [1]:
from springtime.datasets.rnpn import npn_species

species = npn_species()
species

,species_id,common_name,genus,genus_id,genus_common_name,species,kingdom,itis_taxonomic_sn,functional_type,class_id,class_common_name,class_name,order_id,order_common_name,order_name,family_id,family_name,family_common_name
0,120,'ohi'a lehua,Metrosideros,798,Lehuas (Metrosideros),polymorpha,Plantae,27259.0,Evergreen broadleaf,15,Flowering Plants,Magnoliopsida,89,Myrtle and Evening-primrose Families,Myrtales,301,Myrtaceae,Myrtle Family
1,1436,absinthium,Artemisia,437,Sagebrushes (Artemisia),absinthium,Plantae,35445.0,Forb,15,Flowering Plants,Magnoliopsida,69,"Aster, Bellflower and Buckbean Families",Asterales,242,Asteraceae,Aster Family
2,1227,Acadian flycatcher,Empidonax,612,Empidonax Flycatchers (Empidonax),virescens,Animalia,178339.0,Bird,5,Birds,Aves,31,Perching Birds,Passeriformes,154,Tyrannidae,Tyrant Flycatchers
3,1229,acorn woodpecker,Melanerpes,790,Melanerpine Woodpeckers (Melanerpes),formicivorus,Animalia,178189.0,Bird,5,Birds,Aves,33,Woodpeckers,Piciformes,158,Picidae,Woodpeckers
4,2110,Adam and Eve,Aplectrum,1285,Adam and Eves (Aplectrum),hyemale,Plantae,43489.0,Forb,15,Flowering Plants,Magnoliopsida,68,"Asparagas, Iris, Orchid and Aloe Families",Asparagales,307,Orchidaceae,Orchid Family
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,1671,yerba mansa,Anemopsis,413,Yerba Mansa (Anemopsis),californica,Plantae,18223.0,Forb,15,Flowering Plants,Magnoliopsida,92,Birthwort and Lizard's-tail Families,Piperales,331,Saururaceae,Lizard's-tail Family
1751,228,Yoshino cherry,Prunus,933,Cherries (Prunus),yedoensis,Plantae,836663.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,96,"Oleaster, Buckthorn, Rose and Elm Families",Rosales,325,Rosaceae,Rose Family
1752,1043,youth on age,Tolmiea,1058,Youth on Ages (Tolmiea),menziesii,Plantae,24533.0,Forb,15,Flowering Plants,Magnoliopsida,98,"Currant, Witch-hazel and Saxifrage Families",Saxifragales,332,Saxifragaceae,Saxifrage Family
1753,1395,zebra-tailed lizard,Callisaurus,479,Zebra-tailed Lizards (Callisaurus),draconoides,Animalia,173906.0,Reptile,10,Reptiles,Reptilia,54,Snakes and Lizards,Squamata,209,Phrynosomatidae,Zebra-tailed and Horned Lizards
1754,2188,zigzag spiderwort,Tradescantia,1061,Spiderworts (Tradescantia),subaspera,Plantae,39176.0,Forb,15,Flowering Plants,Magnoliopsida,74,Spiderwort and Water-hyacinth Families,Commelinales,260,Commelinaceae,Spiderwort Family

Let's say we're interested in the common lilac, we can find corresponding geni
by querying this dataframe.

In [3]:
species.query('common_name.str.contains("lilac")')

,species_id,common_name,genus,genus_id,genus_common_name,species,kingdom,itis_taxonomic_sn,functional_type,class_id,class_common_name,class_name,order_id,order_common_name,order_name,family_id,family_name,family_common_name
421,36,common lilac,Syringa,1035,Lilacs (Syringa),vulgaris,Plantae,32996.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,83,"Mint, Olive and Plantain Families",Lamiales,305,Oleaceae,Olive Family
883,1243,lilac borer,Podosesia,912,Ash/Lilac Borer Moths (Podosesia),syringae,Animalia,NaN,Insect,8,Insects,Insecta,43,Butterflies and Moths,Lepidoptera,363,Sesiidae,Clearwing Moths
884,1169,lilac chastetree,Vitex,1096,Chastetrees (Vitex),agnus-castus,Plantae,32221.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,83,"Mint, Olive and Plantain Families",Lamiales,286,Lamiaceae,Mint Family
924,1214,Manchurian lilac,Syringa,1035,Lilacs (Syringa),pubescens,Plantae,832925.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,83,"Mint, Olive and Plantain Families",Lamiales,305,Oleaceae,Olive Family
1211,35,Red Rothomagensis lilac,Syringa,1035,Lilacs (Syringa),chinensis,Plantae,832915.0,Deciduous broadleaf,15,Flowering Plants,Magnoliopsida,83,"Mint, Olive and Plantain Families",Lamiales,305,Oleaceae,Olive Family

Sometimes, we might want more than one species. To this end, springtime can group multiple species_ids under a common name, using a class called `NamedIdentifiers``. Additionally, springtime comes with a couple of helper functions to quickly filter the species, e.g. on functional type.

For example, to get all species of cactus:

In [16]:
from springtime.datasets.rnpn import npn_species_ids_by_functional_type

cactus = npn_species_ids_by_functional_type("Cactus")
print(cactus)

NamedIdentifiers(
    name='Cactus',
    items=[946, 945, 2011, 2133, 867, 1941, 294, 855, 1746, 1958, 1773, 2012, 215, 210, 948, 866, 947, 1942]
)

Tip: to quickly see all functional types and the number of species in each category, you could do:

In [15]:
species.functional_type.value_counts()

Forb                           561
Deciduous broadleaf            338
Bird                           165
Evergreen broadleaf            137
Graminoid                      123
Insect                          94
Drought deciduous broadleaf     70
Amphibian                       40
Mammal                          39
Semi-evergreen broadleaf        31
Evergreen conifer               26
Reptile                         25
Semi-evergreen forb             25
Fish                            22
Pine                            20
Cactus                          18
Evergreen forb                  15
Deciduous conifer                5
Algae                            1
Name: functional_type, dtype: int64

## Phenophase IDs

Similarly, we can list all phenophases and subsequently query it to make combined lists of phenophases of interest.

In [2]:
from springtime.datasets.rnpn import npn_phenophases

phenophases = npn_phenophases()
phenophases

,phenophase_id,phenophase_name,phenophase_category,color,pheno_class_id
0,56,First leaf,Leaves,NaN,1
1,57,75% leaf elongation,Leaves,NaN,2
2,58,First flower,Flowers,NaN,7
3,59,Last flower,Flowers,NaN,9
4,60,First fruit ripe,Fruits,NaN,12
...,...,...,...,...,...
194,545,Post-dormant nymphs,Development,Brown3,113
195,546,Crawlers,Development,Brown3,112
196,547,Egg laying,Reproduction,Brown2,136
197,548,Egg laying,Reproduction,Brown2,136
198,549,Mating,Reproduction,Brown2,82

In [7]:
phenophases.query('phenophase_name.str.contains("flower")')

,phenophase_id,phenophase_name,phenophase_category,color,pheno_class_id
2,58,First flower,Flowers,NaN,7
3,59,Last flower,Flowers,NaN,9
8,72,First flower,Flowers,NaN,7
20,121,First flower bud,Flowers,NaN,6
30,186,Full flowering,Flowers,Green2,7
33,201,Open flowers,Flowers,Green2,7
35,205,Open flowers,Flowers,Green2,7
36,206,Full flowering,Flowers,Green2,7
37,207,End of flowering,Flowers,Green2,9
38,210,Open flowers,Flowers,Green2,7
39,211,Full flowering,Flowers,Green2,7
149,494,Open flowers,Flowers,Green2,7
155,500,Flowers or flower buds,Flowers,Green2,6
156,501,Open flowers,Flowers,Green2,7

In [18]:
from springtime.datasets.rnpn import npn_phenophase_ids_by_name

print(npn_phenophase_ids_by_name("flower"))

NamedIdentifiers(
    name='flower',
    items=[58, 59, 72, 121, 186, 201, 205, 206, 207, 210, 211, 256, 312, 493, 494, 500, 501]
)

## Retrieving data

In [8]:
from springtime.datasets import RNPN

# Create a data instance
dataset = RNPN(
    species_ids={"name": "Syringa", "items": [36]},
    phenophase_ids={"name": "leaves", "items": [483]},
    years=[2010, 2011],
)
dataset

RNPN(dataset='RNPN', years=YearRange(start=2010, end=2011), species_ids=NamedIdentifiers(name='Syringa', items=[36]), phenophase_ids=NamedIdentifiers(name='leaves', items=[483]), area=None, use_first=True, aggregation_operator='min')

In [9]:
# Download data
dataset.download()

/tmp/data/rnpn/rnpn_npn_data_y_2010_Syringa_leaves.csv already exists, skipping
/tmp/data/rnpn/rnpn_npn_data_y_2011_Syringa_leaves.csv already exists, skipping

In [10]:
# Load downloded data as a dataframe
df = dataset.load()
df

                      geometry   datetime  leaves_doy
0   POINT (-91.37602 38.38862) 2010-03-01          60
1   POINT (-79.97169 39.53892) 2010-05-05         125
2   POINT (-85.60993 39.79147) 2010-04-12         102
3   POINT (-76.62881 40.94780) 2010-04-05          95
4   POINT (-91.69318 41.29201) 2010-04-12         102
5   POINT (-91.48378 41.88856) 2010-04-04          94
6   POINT (-74.29987 42.10105) 2010-04-09          99
7   POINT (-77.43737 42.89832) 2010-04-08          98
8   POINT (-83.05326 35.59232) 2011-04-13         103
9   POINT (-80.53153 35.59463) 2011-03-14          73
10  POINT (-84.17097 35.65687) 2011-03-10          69
11  POINT (-86.96690 36.39927) 2011-02-25          56
12  POINT (-91.78845 36.65863) 2011-03-21          80
13  POINT (-90.15485 38.71774) 2011-03-19          78
14  POINT (-83.82374 38.82653) 2011-03-23          82
15  POINT (-84.52015 38.88288) 2011-03-21          80
16  POINT (-85.24599 38.99372) 2011-04-11         101
17  POINT (-81.54738 39.24728) 2011-03-18          77
18  POINT (-77.48402 39.72047) 2011-04-11         101
19  POINT (-79.89363 40.66472) 2011-04-04          94
20  POINT (-73.11993 40.85247) 2011-03-22          81
21  POINT (-77.44374 40.98488) 2011-04-14         104
22  POINT (-80.29738 41.04120) 2011-04-13         103
23  POINT (-74.59502 41.12333) 2011-04-30         120
24  POINT (-80.81221 41.13425) 2011-05-01         121
25  POINT (-85.12750 41.21440) 2011-04-15         105
26  POINT (-72.63346 41.91122) 2011-04-27         117
27  POINT (-80.33588 42.01947) 2011-04-29         119
28  POINT (-79.26913 42.09705) 2011-04-23         113
29  POINT (-80.01417 42.13030) 2011-04-20         110
30  POINT (-73.65140 42.33499) 2011-04-18         108
31  POINT (-83.21512 42.49105) 2011-04-23         113
32  POINT (-88.16408 42.98386) 2011-05-12         132

## TODO

- Wait for server to be back up
- Datetime --> year only
- More description in notebook
- Add tests
- Add to docs