In [10]:
from rich import print
import logging

logging.basicConfig()

# Modelling with PyCaret

In the springtime project we use[PyCaret](https://github.com/pycaret/pycaret) to
train, evaluate and compare (machine learning) models. PyCaret is a Python
wrapper around several machine learning libraries and frameworks such as
[scikit-learn](https://scikit-learn.org/stable/) and
[XGBoost](https://xgboost.readthedocs.io/en/latest/).

For a (ML) model to work with PyCaret, it [needs to adhere
to](https://pycaret.gitbook.io/docs/learn-pycaret/faqs#can-i-add-my-own-custom-models-in-pycaret)
the [scikit-learn API](https://scikit-learn.org/stable/developers/develop.html).
This API specifies, for example, that each model must have a `fit` and a
`predict` method. It also specifies the expected structure of the input data.
This is why we need to make a big effort to standardize our datasets.

## Example use case

Let's see what a 'simple' experiment looks like. We'll load the same example
data as before, and compare a few 'standard' models. For now, we'll stick to all
the default settings of pycaret.

In [8]:
from springtime.datasets import PEP725Phenor, EOBS
from springtime.utils import germany, PointsFromOther, join_dataframes

years = [2000, 2002]

pep725 = PEP725Phenor(
    species="Syringa vulgaris",
    years=years,
    area=germany,
)

eobs = EOBS(
    area=germany,
    years=years,
    variables=["mean_temperature"],
    resample={"frequency": "M", "operator": "mean"},
    points=PointsFromOther(source="pep725"),
)

df_pep725 = pep725.load()
eobs.points.get_points(df_pep725)
df_eobs = eobs.load()
df = join_dataframes([df_pep725, df_eobs])
df.head()

                                day  mean_temperature|31  mean_temperature|59  \
year geometry
2000 POINT (10.00000 49.48330)  129             0.323548                  NaN
     POINT (10.00000 50.85000)  120             0.943226                  NaN
     POINT (10.00000 51.71670)  116             1.694194                  NaN
     POINT (10.00000 52.10000)  120             2.531935                  NaN
     POINT (10.00000 53.08330)  121             2.119677                  NaN

                                mean_temperature|60  mean_temperature|90  \
year geometry
2000 POINT (10.00000 49.48330)             3.664483                  NaN
     POINT (10.00000 50.85000)             3.795517                  NaN
     POINT (10.00000 51.71670)             4.053448                  NaN
     POINT (10.00000 52.10000)             4.937242                  NaN
     POINT (10.00000 53.08330)             3.988276                  NaN

                                mean_temperature|91  mean_temperature|120  \
year geometry
2000 POINT (10.00000 49.48330)             5.358709                   NaN
     POINT (10.00000 50.85000)             5.660645                   NaN
     POINT (10.00000 51.71670)             5.399354                   NaN
     POINT (10.00000 52.10000)             5.771289                   NaN
     POINT (10.00000 53.08330)             4.812258                   NaN

                                mean_temperature|121  mean_temperature|151  \
year geometry
2000 POINT (10.00000 49.48330)              9.966999                   NaN
     POINT (10.00000 50.85000)             10.001336                   NaN
     POINT (10.00000 51.71670)             10.563000                   NaN
     POINT (10.00000 52.10000)             10.993333                   NaN
     POINT (10.00000 53.08330)              9.906999                   NaN

                                mean_temperature|152  ...  \
year geometry                                         ...
2000 POINT (10.00000 49.48330)             14.801293  ...
     POINT (10.00000 50.85000)             14.421612  ...
     POINT (10.00000 51.71670)             14.321937  ...
     POINT (10.00000 52.10000)             14.817741  ...
     POINT (10.00000 53.08330)             14.663547  ...

                                mean_temperature|243  mean_temperature|244  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN             18.310001
     POINT (10.00000 50.85000)                   NaN             17.148067
     POINT (10.00000 51.71670)                   NaN             17.539680
     POINT (10.00000 52.10000)                   NaN             17.556454
     POINT (10.00000 53.08330)                   NaN             16.573227

                                mean_temperature|273  mean_temperature|274  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN             13.865000
     POINT (10.00000 50.85000)                   NaN             13.630667
     POINT (10.00000 51.71670)                   NaN             14.346666
     POINT (10.00000 52.10000)                   NaN             14.623999
     POINT (10.00000 53.08330)                   NaN             13.515334

                                mean_temperature|304  mean_temperature|305  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN             10.093225
     POINT (10.00000 50.85000)                   NaN              9.831611
     POINT (10.00000 51.71670)                   NaN             10.444515
     POINT (10.00000 52.10000)                   NaN             11.281612
     POINT (10.00000 53.08330)                   NaN             10.373870

                                mean_temperature|334  mean_temperature|335  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN              5.732333
     POINT (10.00000 50.85000)                   NaN              5.651332
     POINT (10.00000 51.71670)                   NaN              6.550000
     POINT (10.00000 52.10000)                   NaN              7.564668
     POINT (10.00000 53.08330)                   NaN              6.470334

                                mean_temperature|365  mean_temperature|366
year geometry
2000 POINT (10.00000 49.48330)                   NaN              2.525484
     POINT (10.00000 50.85000)                   NaN              2.396452
     POINT (10.00000 51.71670)                   NaN              3.295161
     POINT (10.00000 52.10000)                   NaN              4.204194
     POINT (10.00000 53.08330)                   NaN              3.108710

[5 rows x 24 columns]

In [9]:
from pycaret.regression import RegressionExperiment

df.reset_index(drop=True, inplace=True)  # drop index to avoid sorting errors

exp = RegressionExperiment()
exp.setup(data=df, target="day")
exp.compare_models(["lr", "rf", "dummy"], n_select=3)

[RandomForestRegressor(n_jobs=-1, random_state=6297),
 LinearRegression(n_jobs=-1),
 DummyRegressor()]

Pycaret successfully executed the training of three models, and it concluded
that the random forest regressor performed best, with a mean absolute error of
about 4 days and an RMSE of 6.5 days. This seems okay, but the low correlation
coefficient (R2) suggests that the skill is still limited. Obviously, a more
in-depth investigation is necessary to conclude anything from this, but the
initial scoring is already a great start.

Notice the default settings of pycaret: it uses a 10-fold cross-validation
strategy and can do simple preprocessing tasks such as simple imputation of
missing data.

In [ ]:
# TODO: eobs has NANs due to DOY matching of monthly resampled data with leap years.

## Custom estimators: interpretML

Any model that adheres to the scikit-learn API can be used in pycaret. For
example, we are interested in using [interpretML](https://interpret.ml/docs/).

Note: you need to have installed interpretML in your springtime environment for this to work:

```bash
pip install interpet
```

In [11]:
from interpret.glassbox import ExplainableBoostingRegressor

ebm = ExplainableBoostingRegressor()

exp = RegressionExperiment()
exp.setup(data=df, target="day")
exp.compare_models(["lr", "rf", "dummy", ebm], n_select=3)

[ExplainableBoostingRegressor(),
 RandomForestRegressor(n_jobs=-1, random_state=1017),
 LinearRegression(n_jobs=-1)]

Nice! Our explainable boosting machine outperformed the random forest regression. This is promising!

## Custom estimators: next steps

While many ML packages already adhere to the scikit-learn api, ...

We have made modifications to MERF [mixed effects random forest
(MERF)](https://manifoldai.github.io/merf/) and
[PyPhenology](https://github.com/sdtaylor/pyPhenology). In the following
chapters we'll explain the modifications and how they enable the use of these
packages in a coherent framework. In the next chapters, we'll walk through the
changes that we've made.